/*
* ZONA DE PROGRAMA
*/

#zonaPrograma {
    margin: 0 auto;
    width: 1250px;
}


/*
* ZONA DE CONTROL
*/

#zonaControl {
    height: 130px;
}

#zonaControl fieldset {  
    background-color: #eee;
    margin-bottom: 5px;
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
    height: 80px;
}

#zonaControl legend {
    font-family : Arial, sans-serif;
    font-size: 16pt;
    font-weight:bold;
    color:purple;
}

.textoLengMostrar {
    font-size: 10pt;
    color: blue;
}

.contenedorBusqueda {
    float: left;
    margin-right: 15px;
    padding: 5px;
    border: 0.2em solid purple;
    border-radius: 1em;
    background-color: #eee;
}


/* zona de búsqueda por DIARIO */

#buscaDiario {
    text-align: center;    
    width: 56px;
    height: 45px;
    background-color: #93C572;    
}

#diario {
    width: 55px;
    height: 25px;
}

/* zona de búsqueda por ASIENTO */

#buscaAsiento {        
    width: 90px;
    height: 45px;       
}

#asiento {    
    width: 50px;    
    height: 18px;
    margin-left: 17px;
}

/* zona de búsqueda por FECHA */

#buscaFecha {            
    width: 133px;
    height: 45px;    
}

#fecha {
    width: 127px;
}

/* zona de búsqueda por USUARIO */

#buscaUsuario {            
    width: 125px;
    height: 45px;
}

#usuario {
    width: 125px;
    height: 25px;
    background-color:#eee;
}

/* zona de búsqueda por TEXTO */

#buscaTexto {            
    width: 150px;
    height: 45px;
}

#textoBusca {    
    width: 145px;
    height: 18px; 
}

/* zona de búsqueda por FECHA MODIFICA DIARIO */

#buscaFechaModifica {            
    width: 210px;
    height: 45px;
}

#fechaModifica {
    width: 125px;
}

#horaModifica {
    width: 67px;
}

/* zona de búsqueda por ESTADO DEL ASIENTO */

#buscaEstado {
    text-align: center;    
    margin-right: 5px;    
    width: 247px;
    height: 45px;
}

#buscaEstadoActivo {    
    margin-right: 5px;        
    width: 63px;
    height: 30px;
    background-color: #93C572;
}

#buscaEstadoCerrado {    
    margin-right: 5px;        
    width: 63px;
    height: 30px;
}

#buscaEstadoTodos {
    margin-right: 0px;
    width: 63px;
    height: 30px;
}


/* zona de MENU BOTONES */

#menuBotones {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;      
}

#menuBotones1 {
    width: 880px;
    float: left;    
}

#menuBotones2 {    
    width: 370px;
    float: left;
}

.contenBotonMenu {
    margin-right: 25px;
    float: left;
    padding: 5px;      
}

#listar {
    background-image: url(../imagenes/buscar_boton.png);
    background-position: 5px;
}

#mostrarImprimir {
    background-image: url(../imagenes/generaPDF_boton.png);    
    background-position: 2px;
}

#mostrarAcciones {
    background-image: url(../imagenes/notas_boton.png);
    background-position: 6px;
}

#adminDiario {
    background-image: url(../imagenes/administrar_boton.png);
    background-position: 5px;
}

#botonDesconectar {    
    float: right;
    padding: 5px;  
}

#desconectar {
    background-image: url(../imagenes/exit_boton.png);
    background-position: 6px;
}


/*
* ZONA PARA MOSTRAR LISTADO DE ASIENTOS
*/

#zonaMostrar {    
    height: 740px;
    width: 1250;
    margin-top: 25px;
}

#zonaMostrarDatos {     
    margin: 0;
    padding: 0 0 0 5px;
    height: 715px;
    background-color: #eee;    
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
}

#legendAñadir {
    font-family : Arial, sans-serif;
    font-size: 16pt;
    font-weight:bold;
    color:purple;
}

#zonaRelacionAsientos {    
    display: none;    
    margin: 0;
    padding: 0;
    height: 675px;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll;    
}


/* ZONA PARA MOSTRAR ASIENTO */

.asiento {
    margin: 20px 0 20px 0;
}

.contenAsiento {
    margin: 0;
    text-align: center;
    float: left;
    background-color: white;
    height: 60px;
    width: 60px;
    border: 2px solid purple;
    border-radius: 5em;    
}

.mostraAsiento {    
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 20pt;
    color: black;
    font-weight: bold;       
}

.contenBotons {
    margin: 0;
    padding: 0;
    float: left;
    height: 60px;
    width: 60px;    
}

.contenBotonsArriba {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 60px;           
}

.contenBotonsBaixo {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 60px;
    border-top: 3px solid purple;
}

.contenDatos {
    float: left;
    background-color: white;
    height: 60px;
    width: 1090px;
    border:2px solid purple;
    border-radius: 2em;
}

.contenDatosSuperior {
    height: 30px;    
}

.contenFecha {          
    float: left;
    padding-top: 6px;
    margin-left: 15px;
    width: 145px;
}

.mostrarTitulo {
    font-weight: bold;
}

.mostrarFecha {        
    color: black;
    padding: 2px;            
    border:0.5px solid purple;    
}

.contenSituacion {    
    float: left;
    padding-top: 3px;
    margin-left: 10px;
    width: 900px;    
}

.textoSituacion {
    width: 820px;
    padding-left: 5px;
    height: 18px;
    color: blue;
    border: 0.5px solid purple;    
}

.contenDatosInferior {
    height: 30px;
}

.contenAsignado {
    float: left;
    padding-top: 4px;
    margin-left: 15px;
    width: 195px;
}

.asignado {     
    width: 100px;
    height: 18px;
    color: blue;
    padding-left: 5px;
    border: 0.5px solid purple;
}

.contenAsignadoUsuario {
    display: none;    
    position: relative;
    padding: 4px;
    margin-left: 80px;
    margin-top: -20px;    
    background-color: #eee;
    border: 0.5px solid purple;
    width: 110px;
    height: 275px;
    /*No mostrar barra desplazamiento horizontal */    
    overflow-x: hidden;
}

.asignadoUsuario {    
    margin: 0;
    padding-left: 5px;
    width: 100px;    
    color: blue;    
    font-size: 9pt;
    border: none;
}

.contenIncidencia {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 435px;
}

.textoIncidencia {
    width: 350px;
    height: 18px;
    padding-left: 5px;
    color: blue;
    border: 0.5px solid purple;    
}

.contenOtros {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 320px;    
}

.textoOtros {
    width: 260px;
    height: 18px;
    padding-left: 5px;
    color: blue;
    border: 0.5px solid purple;    
}

.contenActivos {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 80px;    
}

.checkActivo {    
    outline: 4px solid red;    
}

.checkActivo:checked {
   outline: 4px solid green;
}

/* Zona de Botones de Contenedor Datos */
.botonAbrir {     
    outline: none;
    margin: 0 0 0 15px;
    width:25px;
    height:25px;            
    background-image: url(../imagenes/datosCerrados_boton.png);    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.botonDetalle {      
    outline: none;
    margin: 0 0 0 13px;
    width:27px;
    height:27px;            
    background-image: url(../imagenes/informacion_boton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.botonGuardar {     
    padding: 2px 0 2px 0;
    font-size: 9pt;
    font-weight: bold; 
    text-align: center;
    outline: none;
    width: 58px;
    height:28px;    
    background-color: yellow;
    border-radius: 0.8em; 
}

.botonCerrar {      
    outline: none;
    margin: 3px 0 0 15px;
    width:25px;
    height:25px;            
    background-image: url(../imagenes/cancelar_boton.png);    
    background-size: 100%;  
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.contenBotonAsignado {     
    float: right;
    margin: 2px 0 0 0;
    padding: 0;
    height: 18px;
    width: 14px;
}

.botonAsignado {
    outline: none;
    background-image: url(../imagenes/flecha_boton.png);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}


/*
* ZONA PARA MOSTRAR INFORME DE ASIENTOS
*/

#zonaInfoAsientos {    
    display: none;    
    margin: 0;
    padding: 0 0 0 5px;
    height: 715px;
    background-color: beige;
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
}

#legendInfoAsientos {
    text-align: center;
    font-family : Arial, sans-serif;
    font-size: 16pt;
    font-weight:bold;    
    width: 1200px;
    height: 35px;
    background-color: white;
    color:purple;
    border:2px solid purple;
    border-radius: 1em;    
}

.leyendaInfoListado {
    float: left;
    margin-left: 400px;
    margin-top: 5px;
}

#zonaRelacionInfoAsientos {
    display: none;    
    margin: 0;
    padding: 0;
    height: 675px;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll;    
}

.contenInfoAsiento {
    margin: 0;
    text-align: center;
    float: left;
    background-color: white;
    height: 60px;
    width: 80px;
    border: 2px solid purple;
}

.textoFechaHora {
    text-align: center;
    font-weight: bold;
    font-size: 8.5pt;
    margin: 0;
    width: 72px;
    height: 12px;
    color: blue;
    background-color: white;
}

.textoUsuarioModif {
    text-align: center;
    margin: 0;
    font-size: 7.5pt;
    font-weight: bold;
    width: 72px;
    height: 12px;
    color: blue;
    background-color: #eee;
}

.contenBotonsInfo {
    margin: 0;
    padding: 0;
    float: left;
    height: 60px;
    width: 40px;    
}

.contenInfoBotonsArriba {
    margin: 0;
    padding: 0 0 0 1px;
    height: 30px;
    width: 40px;           
}

.contenInfoBotonsBaixo {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 40px;
    border-top: 3px solid purple;
}

.botonActualInfo {     
    padding: 1px 0 1px 0;
    font-size: 7.5pt;
    font-weight: bold; 
    text-align: center;
    outline: none;
    width: 38px;
    height:28px;    
    background-color: yellow;
    border-radius: 0.8em; 
}

#botonCerrarInfo {
    float: right;
    margin-right: 10px;
}


/*
*   Zona de BOTONES CONFIRMACIÓN/CANCELACIÓN
*/

.contenConfirmacion {        
    padding: 0;
    left: 0;
    background-color: transparent;    
}

.zonaConfirmacion {    
    border: 2px solid red;
    background-color: #ffff00;
    width: 720px;
    height: 26px;    
    border-radius: 4em;    
}

.zonaConfirmacion1 {
    float: left;
    width:26px;
    height: 26px;        
    border: none;
    margin-left: 5px;    
    background-image: url(../imagenes/confirmacion.png);    
    background-size: 100%;
    background-repeat: no-repeat;
}

.zonaConfirmacion2 {
    float: left;
    height: 26px;        
    margin-left: 5px;
    padding: 0;        
}

.zonaTextoConfirmacion { 
    float: left;
    height: 25px;        
    padding: 0;
    margin-left: 5px;
    margin-right: 15px;
}

.zonaBotonesConfirmacion{    
    float: left;
}

.textoConfir{
    text-align: left;    
    color: red;
    width: 475px;
    height: 26px;
    margin-left: 5px;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.zonaBotonGuardarConfirmacion {
    margin-right: 25px;
    margin-top: 1px;
    float: left;    
}

.botonGuardarConfirma {
    outline: none;
    width:65px;
    height:24px;
    padding-left:0px;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/aceptar_boton.png);            
    background-size: 40%;
    background-position: 2%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

.zonaBotonCancelarConfirmacion {
    margin-right: 25px;
    margin-top: 1px;
    float: left;
}

.botonCerrarConfirma {
    outline: none;
    width:65px;
    height:24px;
    padding-left:0px;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/cancelar_boton.png);            
    background-size: 35%;
    background-position: 8%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}



/*
*   ZONA NO DATOS
*/
#zonaNoDatos {
    position: absolute;
    margin: 0 auto;
    width: 1220px;
    height: 675px; 
    background-color: #eee;
}

#textoNoDatos {    
    font-size: 18pt;
    font-family: Arial;
    text-transform: uppercase;    
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}