/*
* ZONA DE PROGRAMA
*/

#zonaPrograma {
    margin: 0 auto;
    width: 1250px;
}


/*
* ZONA DE CONTROL
*/

#zonaControl {
    height: 130px;
}

#zonaControl fieldset {  
    background-color: #eee;
    margin-bottom: 5px;
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
    height: 80px;
}

#zonaControl legend {
    font-family : Arial, sans-serif;
    font-size: 16pt;
    font-weight:bold;
    color:purple;
}

.contenedorBusqueda {
    float: left;
    margin-right: 15px;
    padding: 5px;
    border: 0.2em solid purple;
    border-radius: 1em;
    background-color: #eee;
}


/* zona de búsqueda por DIARIO */

#buscaDiario {
    text-align: center;    
    width: 56px;
    height: 45px;
    background-color: #93C572;    
}

#diario {
    width: 55px;
    height: 25px;
}

/* zona de búsqueda por ASIENTO */

#buscaAsiento {        
    width: 90px;
    height: 45px;       
}

#asiento {    
    width: 50px;    
    height: 18px;
    margin-left: 17px;
}

/* zona de búsqueda por FECHA */

#buscaFecha {            
    width: 133px;
    height: 45px;    
}

#fecha {
    width: 127px;
}

/* zona de búsqueda por USUARIO */

#buscaUsuario {            
    width: 125px;
    height: 45px;
}

#usuario {
    width: 125px;
    height: 25px;
    background-color:#eee;
}

/* zona de búsqueda por TEXTO */

#buscaTexto {            
    width: 150px;
    height: 45px;
}

#textoBusca {    
    width: 145px;
    height: 18px; 
}

/* zona de búsqueda por FECHA MODIFICA DIARIO */

#buscaFechaModifica {            
    width: 210px;
    height: 45px;
}

#fechaModifica {
    width: 127px;
}

#horaModifica {
    width: 68px;
}

/* zona de búsqueda por ESTADO DEL ASIENTO */

#buscaEstado {
    text-align: center;    
    margin-right: 5px;    
    width: 247px;
    height: 45px;
}

#buscaEstadoActivo {    
    margin-right: 5px;        
    width: 63px;
    height: 30px;
    background-color: #93C572;
}

#buscaEstadoCerrado {    
    margin-right: 5px;        
    width: 63px;
    height: 30px;
}

#buscaEstadoTodos {
    margin-right: 0px;
    width: 63px;
    height: 30px;
}


/* zona de MENU BOTONES */

#menuBotones {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;      
}

#menuBotones1 {
    width: 880px;
    float: left;    
}

#menuBotones2 {    
    width: 370px;
    float: left;
}

.contenBotonMenu {
    margin-right: 25px;
    float: left;
    padding: 5px;      
}

#listar {
    background-image: url(../imagenes/buscar_boton.png);
    background-position: 5px;
}

#mostrarImprimir {
    background-image: url(../imagenes/generaPDF_boton.png);    
    background-position: 2px;
}

#mostrarAcciones {
    background-image: url(../imagenes/notas_boton.png);
    background-position: 6px;
}

#adminDiario {
    background-image: url(../imagenes/administrar_boton.png);
    background-position: 5px;
}

#botonDesconectar {    
    float: right;
    padding: 5px;  
}

#desconectar {
    background-image: url(../imagenes/exit_boton.png);
    background-position: 6px;
}


/*
* ZONA PARA MOSTRAR LISTADO DE ASIENTOS
*/

#zonaMostrar {    
    height: 740px;
    width: 1250;
    margin-top: 25px;
}

#zonaMostrarDatos { 
    margin: 0;
    padding: 0 0 0 5px;
    height: 715px;
    background-color: #eee;    
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
}

#zonaMostrarDatos legend {
    font-family : Arial, sans-serif;
    font-size: 16pt;
    font-weight:bold;
    color:purple;
}

#zonaRelacionAsientos {    
    margin: 0;
    padding: 0;
    height: 675px;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll;    
}


/* ZONA PARA MOSTRAR ASIENTO */

.asiento {
    margin: 20px 0 20px 0;
}

.contenAsiento {
    margin: 0;
    text-align: center;
    float: left;
    background-color: white;
    height: 60px;
    width: 60px;
    border: 2px solid purple;
    border-radius: 5em;    
}

.mostraAsiento {    
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 20pt;
    color: black;
    font-weight: bold;       
}

.contenBotons {
    margin: 0;
    padding: 0;
    float: left;
    height: 60px;
    width: 60px;    
}

.contenBotonsArriba {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 60px;           
}

.contenBotonsBaixo {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 60px;
    border-top: 3px solid purple;
}

.contenDatos {
    float: left;
    background-color: white;
    height: 60px;
    width: 1090px;
    border:2px solid purple;
    border-radius: 2em;
}

.contenDatosSuperior {
    height: 30px;    
}

.contenFecha {     
    float: left;
    padding-top: 6px;
    margin-left: 15px;
    width: 135px;
}

.mostrarTitulo {
    font-weight: bold;
}

.mostrarFecha {
    color: black;
    padding: 2px;
    border:0.5px solid purple;
}

.contenSituacion {
    float: left;
    padding-top: 3px;
    margin-left: 10px;
    width: 920px;    
}

.textoSituacion {
    width: 832px;
    padding-left: 5px;
    height: 18px;
    color: blue;
    border: 0.5px solid purple;
}

.contenDatosInferior {
    height: 30px;
}

.contenAsignado {
    float: left;
    padding-top: 4px;
    margin-left: 15px;
    width: 195px;
}

.asignado {         
    width: 100px;
    height: 18px;
    color: blue;
    padding-left: 5px;
    border: 0.5px solid purple;
}

.contenIncidencia {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 435px;
}

.textoIncidencia {
    width: 350px;
    height: 18px;
    padding-left: 5px;
    color: blue;
    border: 0.5px solid purple;    
}

.contenOtros {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 320px;    
}

.textoOtros {
    width: 260px;
    height: 18px;
    padding-left: 5px;
    color: blue;
    border: 0.5px solid purple;    
}

.contenActivos {
    float: left;
    padding-top: 4px;
    margin-left: 10px;
    width: 80px;    
}

.checkActivo {    
    outline: 4px solid red;
}
.checkActivo:checked {
   outline: 4px solid green;
}

/* Zona de Botones de Contenedor Datos */
.botonAbrir {     
    outline: none;
    margin: 0 0 0 15px;
    width:25px;
    height:25px;            
    background-image: url(../imagenes/datosCerrados_boton.png);    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.botonDetalle {      
    outline: none;
    margin: 0 0 0 13px;
    width:27px;
    height:27px;            
    background-image: url(../imagenes/informacion_boton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.contenBotonAsignado { 
    display: none;
    float: right;
    margin: 2px 0 0 0;
    padding: 0;
    height: 18px;
    width: 14px;
}

.botonAsignado {
    outline: none;
    background-image: url(../imagenes/flecha_boton.png);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}


/*
*   ZONA NO DATOS
*/
#zonaNoDatos {
    position: absolute;
    margin: 0 auto;
    width: 1220px;
    height: 675px; 
    background-color: #eee;
}

#textoNoDatos {    
    font-size: 18pt;
    font-family: Arial;
    text-transform: uppercase;    
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}