/*
* Estilo de la página
*/

body {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;
}



/*
* BLOQUE DE INFORMACION
*/

#bloqueInformacion {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;
}

#botonInformacion {
    /* Suprimo el comportamiento del boton*/
    outline: none;
    float: right;
    width:100px;
    height:25px;
    padding-left:0px;
    text-align: right;
    font-weight: bold;
    background-image: url(../imagenes/acercaDe.png);    
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;     
    border-radius: 0.8em;
}

#contenedorInformacion {
    display: none;
    position: absolute;
    margin-left: 860px;
    margin-top: 30px;
    width: 400px;
    height: 350px;
    background-image: url(../imagenes/notas.png);     
    background-color: transparent;
    background-size: 100%; 
    background-repeat: no-repeat; 
}

#contenedorTextoIndormacion {
    margin-top: 100px;
    margin-left: 30px;
    width: 300px;
    font-size: 11pt;    
    font-weight: bold;
}

.textoInformacion {
    color: blue;
}

.textoTituloInformacion{
    color: purple;    
}

.cancelarFlotantes {
    clear: both;
}


/*
* ESTILO BOTONES MENU
*/

.botonMenu {
    outline: none; /* No muestra el borde cuando se ejecuta */
    width:128px;
    height:30px;
    padding-left:0px;
    text-align: right;
    font-weight: bold;
    background-color: aliceblue;    
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}


/*
* ZONA PARA MOSTRAR ERRORES
*/

.campoError {
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;    
    position: absolute;
    width: 165px;
}

/* Creamos un elemento hijo del anterior
*  (crea un efecto punta de lanza)
*/
.campoError:before {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -20px;
    position: absolute;
    top: 5px;    
}

/*
* ZONA PARA MOSTRAR RECORDATORIO "PENDIENTE GRABAR"
*/
.bloquePendienteGrabar {       
    margin: 0;
    pading: 0;
    height: 30px;
}

.campoPendienteGrabar {
    display: none;
    background-color: #BC1010;
    padding: 3px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12pt;
    font-weight: bold;        
    width: 240px;    
    position: relative;
}

/* Creamos un elemento hijo del anterior
*  (crea un efecto punta de lanza)
*/
.campoPendienteGrabar:before {
    content: '';
    margin-left: 68px;    
    border-top: 15px solid #BC1010;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid transparent;    
    bottom: -30px;
    position: absolute;
}

/*
* ZONA PARA MOSTRAR "GRABADO CORRECTAMENTE"
*/
.campoAvisoGrabado {
    display: none;
    background-color: green;
    padding: 3px 12px;
    border-radius: 20px;
    color: white;    
    font-size: 12pt;
    font-weight: bold;        
    width: 240px;    
    position: relative;
}

/* Creamos un elemento hijo del anterior
*  (crea un efecto punta de lanza)
*/
.campoAvisoGrabado:before {
    content: '';
    margin-left: 68px;    
    border-top: 15px solid green;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid transparent;    
    bottom: -30px;
    position: absolute;
}