/* zona de MENU BOTONES */

#campoMenuControl {
    width: 1250px;
    height: 65px;
    margin: 15px 0 0 0; 
    padding: 0;
}

#zonaControl { 
    display: none;
    background-color: #eee;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border:2px solid purple;
    border-radius: 1em;
}

#zonaBotonMenu{
    border-top: 4px solid purple;
}

#botonMostrarMenu {
    outline: none; /* No muestra el borde cuando se ejecuta */
    width:128px;
    height:30px;
    margin-left: 45%;
    padding-left:0px;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;    
    border-top: 1px solid purple;
    border-left: 3px solid purple;
    border-right: 3px solid purple;
    border-bottom: 3px solid purple;
}

#menuBotones {
    width: 1250px;    
    padding: 10px 0px;
    
}

#menuBotones1 {
    margin-left: 5px;
    width: 865px;
    float: left;    
}

#menuBotones2 {    
    width: 370px;
    float: left;
}

.contenBotonMenu {
    margin-right: 25px;
    float: left;
    padding: 5px;      
}

#regresar {    
    background-position: 2px;    
    background-image: url(../imagenes/volver_boton.png);        
}

#mostrarAcciones {    
    background-image: url(../imagenes/notas_boton.png);
    background-position: 6px;
}

#botonDesconectar {    
    float: right;
    padding: 5px;  
}

#desconectar {    
    background-image: url(../imagenes/exit_boton.png);
    background-position: 6px;
}



/*
* ZONA PARA MOSTRAR ADMINISTRAR DIARIOS
*/

#zonaMostrar {
    height: 820px;
    width: 1250;
    margin-top: 15px;
}

#contenZonaMostrar { 
    margin: 0;
    padding: 0 0 0 5px;
    height: 810px;
    background-color: #eee;    
    border:2px solid purple;
    border-radius: 1em;    
    color: purple;
    font-weight: bold;
}

#contenZonaMostrar legend {
    font-family : Arial, sans-serif;
    font-size: 18pt;    
    font-weight:bold;
    color:purple;
}

#zonaRelacionControles {
    margin: 0;
    padding: 0;
    height: 770px;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll;    
}

.bloqueControl {
    margin: 20px 0 20px 15px;
}

.contenBotonActivar {
    margin: 0;
    padding: 0;
    float: left;
    width: 120px;
    height: 120px;
    border: none;
    text-align: center;
    background-color: transparent;
    background-size: 100%;     
    background-repeat: no-repeat; 
    background-image: url(../imagenes/bordeBoton.png);
}

.contenTextoBoton {
    /* Para que no se pueda seleccionar el texto */    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    
    padding: 42px 0px;
    color: black;
    font-family: Arial;    
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    
}

.bloqueAdministrar {
    display: none;
    float: left;
}

.contenZonaUnion {    
    margin: 0;
    padding: 0;
    float: left;
    width: 60px;
    height: 120px;
}

.contenUnionDivision {    
    padding: 0;
    width: 60px;
    height: 60px;
    border-bottom: 3px solid purple;
}

.contenZonaDatos {
    float: left;
    width: 1000px;
    height: 120px;
    border: 2px solid purple;
    border-radius: 1em;
}

/*
*   ZONA CREACION NUEVOS ASIENTOS
*/

#contenTextoDiario {
    float: left;
    margin: 45px 0 0 10px;    
    font-size: 15pt;
    font-weight: bold;
    width: 70px; 
}

.contenDiario {
    float: left;
    margin: 35px 10px 0 0px;
    width: 80px;
}

#diario {
    font-size: 20pt;
    font-weight: bold;
    width: 75px;
    height: 40px;
}

.contenInformeDiario {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 110px;
    background-size: 100%;     
    background-repeat: no-repeat; 
    background-image: url(../imagenes/notas.png);
}

#contenIntroducirDatos {
    float: left;
    width: 340px;
    height: 120px;
}

#introducirDatosAsiento {
    width: 305px;
    height: 95px;
    border: 2px solid purple;
    border-radius: 1em;
}

#introducirDatosAsiento legend {
    font-size: 13pt;
}

#contenNumeroAsientos {
    padding: 7px 0px;
}

#numeroAsientos {
    float: left;
    height: 20px;
    width: 50px;
    font-size: 12pt;
    font-weight: bold;
}

#contenFechaAsientos {
    padding: 7px 0px;
}

#fechaAsientos {
    float: left;
    height: 25px;
    width: 145px;
    font-size: 12pt;
    font-weight: bold;
}

.textoIntroducirDatos {
    float: left;    
    display: block;
    padding: 4px 0px;
    font-size: 12pt;
    width: 150px;
    height: 20px;
}

#contenResultadoBotones {
    float: left;
    margin: 0;
    padding: 10px 0px;
    width: 285px;
    height: 115px;    
}

#contenResultadosAsientos {   
    width: 275px;
    height: 60px;
    border: 2px solid purple;
    border-radius: 1em;
}

#contenBotonsAsientos {
    width: 275px;
    height: 40px;
}

.zonaBotonGuardar {    
    margin-left: 5px;
    float: left;
    padding: 5px;      
}

.zonaBotonGuardar input {
    outline: none;
    width:100px;
    height:32px;
    padding-left:0px;
    text-align: right;
    font-size: 9pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/aceptar_boton.png);    
    background-size: 33%; 
    background-position: 2%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

.zonaBotonCancelar {    
    margin-right: 5px;
    float: right;
    padding: 5px;      
}

.zonaBotonCancelar input {
    outline: none;
    width:100px;
    height:32px;
    padding-left:0px;
    text-align: right;
    font-size: 9pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/cancelar_boton.png);    
    background-size: 28%; 
    background-position: 5%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

.contenTextoResultadosAsientos {
    text-align: center;
    padding: 2px 10px;
    width: 255px;
    height: 25px;   
}

.textoResultadosAsientos {
    font-size: 13pt;    
}

#textoAsientoInicial {    
    border: none;
    background-color: transparent;
    float: left;
    width: 100px;
    height: 23px;
    font-size: 13pt;
    text-align: right;
    color: blue;
    font-weight: bold;
}

.contenTextoResultadosIntermedio {
    float: left;
    padding: 3px 0px;
    width: 45px;
    text-align: center;
}

#textoAsientoFinal {    
    border: none;
    background-color: transparent;
    float: left;
    width: 100px;
    height: 23px;
    font-size: 13pt;
    text-align: left;
    color: blue;
    font-weight: bold;
}

/*
*   ZONA PARA MOSTRAR LOS DATOS DEL DIARIO SELECCIONADO
*/
.contenDatosInforme {      
    margin: 38px 0 0 9px;   
}

.datosInformeDiario {
    padding: 2px 0;
}

.tituloDatosInforme {
    font-family: Arial;
    color: red;
    font-size: 11pt;
    font-weight: bold;
}

.textoDatosInforme {
    font-family: Arial;
    color: blue;
    font-size: 11pt;
    font-weight: bold;
}

.textoNumeroAsientosDiario {
    font-family: Arial;
    color: blue;
    font-size: 11pt;
    font-weight: bold;
    width: 48px;
    border: none;
    background-color: transparent;
}


/*
*   Zona de BOTONES CONFIRMACIÓN/CANCELACIÓN
*/

.contenConfirmacion {  
    display: none;
    float: left;
    padding: 0;
    margin: 0;    
    width: 1000px;
    height: 120px;
}

.zonaConfirmacion {   
    margin-top: 16px;    
    border: 2px solid red;
    background-color: #ffff00;    
    padding: 10px 0 0 10px;
    width: 575px;
    height: 75px;
    border-radius: 4em;
}

.zonaConfirmacion1 {
    float: left;
    width: 50px;
    height: 75px;
    border: none;
    margin-left: 5px;    
    background-image: url(../imagenes/confirmacion.png);    
    background-size: 100%;
    background-repeat: no-repeat;
}

.zonaConfirmacion2 {
    float: left;
    height: 25px;        
    margin-left: 5px;
    padding: 0;        
}

.zonaTextoConfirmacion {     
    height: 25px;        
    padding: 0;
    margin-left: 5px;
    margin-right: 15px;
}

.zonaBotonesConfirmacion{    
    padding: 10px;
    height: 50px;
}

.textoConfir{
    text-align: left;    
    color: red;
    width: 475px;
    height: 26px;
    margin-left: 5px;
    display: block;
    font-size: 10pt;
    font-weight: bold;    
    background-color: #ffff00;
    border: none;
}

.zonaBotonGuardarConfirmacion {
    margin-right: 25px;
    margin-top: 1px;
    float: left;    
}

.botonConfirmaGrabar {
    outline: none;
    width:65px;
    height:24px;
    padding-left:0px;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/aceptar_boton.png);            
    background-size: 40%;
    background-position: 2%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

.zonaBotonCancelarConfirmacion {
    margin-right: 25px;
    margin-top: 1px;
    float: left;
}

.botonConfirmaCerrar {
    outline: none;
    width:65px;
    height:24px;
    padding-left:0px;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    background-color: aliceblue;
    background-image: url(../imagenes/cancelar_boton.png);            
    background-size: 35%;
    background-position: 8%;
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

.textoExitoGrabar{
    text-align: center;    
    color: white;
    width: 550px;
    height: 60px;
    margin-left: 5px;
    display: block;
    font-size: 12pt;
    font-weight: bold;    
    background-color: green;
    border: none;
}


/* ZONA DE CONTROL PARA CREAR NUEVO DIARIO */

#contenInformeUltimoDiario {
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
    width: 200px;
    height: 110px;
    background-size: 100%;     
    background-repeat: no-repeat; 
    background-image: url(../imagenes/notas.png);
}

.contenDatosInformeUltimoDiario {      
    margin: 38px 0 0 9px;   
}

.textoUltimoDiario {
    font-family: Arial;
    text-align: center;
    color: blue;
    font-size: 25pt;
    font-weight: bold;
    width: 155px;
    height: 45px;
    border: none;
    background-color: transparent;
}

#contenIntroducirDatosCrearDiario {
    margin-left: 75px;
    float: left;
    width: 340px;
    height: 120px;
}

#introducirDatosCrearDiario {
    width: 305px;
    height: 95px;
    border: 2px solid purple;
    border-radius: 1em;
}

#introducirDatosCrearDiario legend {
    font-size: 13pt;
}

#contenNumeroDiario {
    padding: 7px 0px;
}

#numeroDiario {
    float: left;
    height: 20px;
    width: 50px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    border: 2px solid purple;
    background-color: #eee;
}

#contenFechaDiario {
    padding: 7px 0px;
}

#fechaDiario {
    float: left;
    height: 25px;
    width: 145px;
    font-size: 12pt;
    font-weight: bold;
}

#contenResultadoBotonesCrearDiario {
    float: left;
    margin: 30px 0 0 80px;
    padding: 10px 0px;
    width: 285px;
    height: 115px;    
}

#contenBotonsCrearDiario {
    width: 275px;
    height: 40px;
}


/* ZONA DE CONTROL PARA ABRIR-CERRAR DIARIO */

#diarioAbrirCerrar {
    font-size: 20pt;
    font-weight: bold;
    width: 75px;
    height: 40px;
}

.informaCerradoAbiertoDiario {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 110px;
    background-size: 100%;     
    background-repeat: no-repeat; 
    background-image: url(../imagenes/notas.png);
}

.contenDatosInformeAbrirCerrarDiario {     
    margin: 38px 0 0 9px;   
}

.textoInformeAbrirCerrar {
    float: left;
    font-family: Arial;
    color: blue;
    font-size: 11pt;
    font-weight: bold;    
    background-color: transparent;
    border: none;
    width: 80px;
    height: 65px;
}

.contenImgDiarioCerrado {
    float: left;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 67px;    
    background-repeat: no-repeat; 
    background-image: url(../imagenes/diarioCerrado.png);
    background-position: 50%;
}

.contenImgDiarioAbierto {
    float: left;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 67px;    
    background-repeat: no-repeat; 
    background-image: url(../imagenes/diarioAbierto.png);
    background-position: 50%;
}

#contenResultadoBotonesAbrirCerrarDiario {
    float: left;
    margin: 30px 0 0 80px;
    padding: 10px 0px;
    width: 285px;
    height: 115px;    
}

#contenBotonsAbrirCerrarDiario {
    width: 275px;
    height: 40px;
}